<!DOCTYPE html>
<html>
<head>
  <title>CurryNation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="container">
   <div class="navbar navbar-static-top">
        <a class="navbar-brand" href="/recipes"><%= image_tag "currynation.jpg", :size => "70x50"%></a>
     <div class="nav-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Recipes",recipes_path %></li>
        </ul>
         <ul class="nav navbar-nav pull-right">
             <% if user_signed_in? %>
                 <li><%=link_to "#{current_user.email}"%></li>
                 <li class="active"><%= link_to "Logout",destroy_user_session_path%></li>
             <%else%>
                 <li><%= link_to "Login", new_user_session_path %></li>
                  <li class="active"><%= link_to "SignUp", new_user_registration_path%></li>
             <%end%>
         </ul>
     </div><!--/.nav-collapse -->
   </div>
  <div class="row">
    <div class="col-lg-2">
      <div class="panel panel-primary" id="panels">
        <div class="panel-heading">Food Preferences
        </div>
        <% all_food_preference.each do |fp| %>
            <p> <%= link_to "#{fp.name}", "/recipes/search?search=#{fp.name}", :class => "dropdown-toggle", :remote => true%></p>
        <%end%>
      </div>
      <div class="panel panel-primary" id="panels">
        <div class="panel-heading">Food Type
        </div>
        <% all_food_type.each do |ft| %>
            <p> <%= link_to "#{ft.name}", "/recipes/search?search=#{ft.name}", :class => "dropdown-toggle",:remote => true %></p>
        <%end%>
      </div>
      <div class="panel panel-primary" id="panels">
        <div class="panel-heading">Cuisine
        </div>
        <% all_cuisine.each do |c| %>
           <p> <%= link_to "#{c.name}", "/recipes/search?search=#{c.name}", :class => "dropdown-toggle",:remote => true %></p>
        <%end%>
      </div>
    </div>
    <div class="col-lg-9">
      <div id="search_result">

      </div>
      <div id="main_block">
         <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
